.managerlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    background: url('/public/manager-login.jpg')center/cover fixed;
}
.managerlogin h1{
    text-align: center;
}
.form-manager button{
    width: 100%;
    height: 45px;
    border: none;
    background-color: rgb(179, 176, 171);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  color: rgb(16, 16, 16);

}
.form-manager button:hover{
    background-color: black;
    color: white;
}
.form-manager{
    width: 420px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    background: rgba(82, 75, 75, 0.5);
      /* Adjust the opacity for the blur ef  /* Adjust the opacity for the blur effect */
    color: beige;
    margin: 50px auto;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
}
.input-manager .icon{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}
.form-manager .input-manager{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-manager input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: beige;
}
.input-manager input::placeholder{
    color: white;
    padding: 10px;
}
.form-manager .register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .register-link p,
  a {
    color: white;
    text-decoration: none;
    font-weight: 700;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
  }
  